::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background: rgba(128, 0, 128, 0.432);
    border-radius: 10px;
    width: 0px;
}
::-webkit-scrollbar-thumb:hover{
    background: purple;
    border-radius: 10px;
    width: 15px;
}
body{
    margin:0px;
    padding: 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#mesajlar{
    background: #d3cccc;
    text-align: left;
    max-width: 600px;
    width:100%;
    border: 1px solid purple;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    height:400px;
}
.mesaj{
    margin: 10px 0px 10px 10px;
}
.kullanici{
    font-weight: bold;
    color: purple;
}
.ileti{
    padding:10px;
    background: -webkit-linear-gradient(top, purple,rgb(78, 8, 78),rgb(78, 8, 78),purple);
    color: white;
    border-radius: 20px;
}
#gonderici{
    margin-top: 10px;
    height: 38px;
}
#yolla{
    max-width:485px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    font-size: 15px;
    border:none;
    background: purple;
    color:white;
    display: inline-block;
    position: relative;
    bottom: 0px;
    left:0px;
    right:96px;
}
#gonderbuton{
    width:96px;
    border-radius: 0px 20px 20px 0px;
    height: 37px;
    border: none;
    color:white;
    background: purple;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    right: 0px;
    bottom: 1px;
}